body {
  margin:0;
  font-family:system-ui;
  background:#F5F7FA;
}

.header{
  background:#1F3A5F;
  color:white;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:14px 28px;
}

.logo{
  font-size:20px;
  font-weight:700;
}

.menu a{
  color:white;
  text-decoration:none;
  margin-left:20px;
  font-weight:500;
}

.menu a:hover{
  opacity:0.8;
}

.content{
  padding:30px;
}